App.config
BenebotV3.csproj
*.dll
*.txt
*.exe
*.config
*.pdb
*.manifest
bin/Debug/IrcDotNet.xml
bin/Debug/Newtonsoft.Json.xml
bin/Release/Newtonsoft.Json.xml
*.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Properties/AssemblyInfo.cs
Properties/Settings.Designer.cs
Properties/Settings.settings